body {
  font-family: "Space Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.navi {
  background-color: #619e9e;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navi_menu {
  max-width: 900px;
  height: 50px;
  margin: 0 auto;
  font-size: 12px;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  list-style: none;
  text-decoration: none;
  height: 100%;
  padding: 0 10px;
}

.navi_link {
  text-decoration: none;
  color: white;
  behavior: smooth;
}

.navi_link:hover {
  color: black;
}

.main-header {
  padding: 100px 0;
  text-align: center;
  /* image taken from: https://unsplash.com/photos/cvBBO4PzWPg */
  background-image: url("../assets/background.jpg");
  background-size: contain;
  color: white;
}

.content {
  padding-top: 50px;
}

.section_style {
  display: flex;
  align-items: center;
  min-height: 90vh;
  background-color: rgb(28, 28, 28);
  color: white;
}

.section_style_active {
  color: cornflowerblue;
  opacity: 0.8;
}

.section_content {
  padding: 20px;
}
.button_container {
  padding: 50px;
  text-align: center;
  background-color: gray;
}

.button {
  padding: 20px;
}

.footer_section {
  padding: 100px 20px;
  text-align: center;
}

@media (min-width: 600px) {
  .nav_list {
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
  }

  .navi_menu {
    height: 90px;
    margin: 0 auto;
    font-size: 15px;
    padding: 0 40px;
  }

  .content {
    padding-top: 90px;
  }

  .section_content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
  }
}
